:host {
  display: block;
}
.container{
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;

}
.content{
  font-family: 'Gilda Display', serif;
  font-family: 'Playfair Display', serif;
  font-size: 120%;
}
.title{
  text-align: center;
  font-size: 280%;
  font-family: 'Gilda Display', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Spectral', serif;

}
.rate{
  text-align: center;
  font-size: 150%;
  margin-top: 40px;
  margin-bottom: 40px;

}
