.container{
  background-image: url(/4861242.jpg);
}
.header{
  text-align: center;
  margin-top: 300px;
  font-size: 400%;
}
.descriptionGNA{
  text-align: center;
  font-size: 150%;
  line-height: 30px;
  margin-top: 50px;
  margin-left: 19% ;
  margin-right: 19% ;

}
