
.header{
  text-align: center;
  margin-top: 300px;
  margin-bottom: 80px;
  font-size: 900%;
  font-family: 'Playfair Display', serif;
}
.descriptionGNA{
  text-align: center;
  font-size: 170%;
  line-height: 40px;

  margin-left: 20% ;
  margin-right: 20% ;
  font-family: 'Playfair Display', serif;

}
