.example-button-row {
  display: table-cell;
  max-width: 600px;
}
.card-title{
  font-family: 'Playfair Display', serif;
  font-family: 'Spectral', serif;
}
.card-content{
font-family: 'Gilda Display', serif;
font-family: 'Playfair Display', serif;
}
