<style>
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,800;0,900;1,400&family=Spectral:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Playfair+Display:ital,wght@0,500;0,600;0,800;0,900;1,400&family=Spectral:wght@800&display=swap');
</style>
<div *ngIf="news" class="card">

  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-title">{{news.title}}</mat-card-title>
      <mat-card-subtitle>{{news.rate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div [innerHTML]="news.description">
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-stroked-button routerLink="/news/{{news.id}}">Details</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
