div{
  display: block;
}
ul.news li{
  list-style: none;
}
.new-one{
  margin: 10px 5px;
  padding: 5px;
  background-color:aqua;
}

.selected{
  background-color: beige;
}

.header{
  margin-top: 50px;
  text-align: center;
  font-size:200%;
  font-family: 'Playfair Display', serif;
}
.news-list{
  margin-left: 100px;
  margin-right: 100px;

}
/* li.card{

list-style:none;
display: inline-block;
max-width: 30%;
margin: 1.3%;
} */
